
@font-face {
  font-family: sans;
  src: url(./font/IRANSans.ttf);
}
body{
  background-color: #f7f7f7 !important;
}
.main{
  display: flex;
  margin: 16px 16px 0;
  grid-gap: 16px;
}
.row-body{
  grid-column-gap: 16px;
}
.container-body{
  margin: 10px;
}
.row-body{
  margin: 0;
}
.link-nav-list{
  text-decoration: none;
}
.content-left{
  /* border: 1px solid black; */
  padding-left: 0 !important; 
  padding-right: 0 !important;
}
.content-right{
  width: 200px !important;
  height: 90vh;
  border: 1px solid black;  
  background-color: #201F30;
  display: grid;
  align-content: space-between;
  border-radius: 8px;
}
/* list right */
.content-right li{
  padding: 16px 16px 16px 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: right;
  list-style: none;
  font-family: sans;
  font-size: 14px;
  width: 100%;
  text-decoration: none !important;
  color: white;
}
.content-right li.active{
  background-color: rgba(255, 255, 255, 0.16);
  color:#FFD600;
}
.content-right ul{
  text-decoration: none !important;
  width: 100%;
  display: grid;
  grid-gap: 16px;
  padding-left: 0;
  padding: 16px 16px 0 0;

}
.content-right > nav > ul > Link{
  text-decoration: none !important;
}
.content-right p{
  color: white;
  font-family: sans;
  font-size: 13px;
  text-align: right;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
}

.row-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  /* margin:0 16px 16px; */
  width: 100%;
  grid-gap: 16px;
}
.icon-left{
  float: left;
  margin-left: 25.5px;
  margin-top: -5px;
  font-size: 20px;
  color: white;
}
/* list right */

/* home */
.alert-logo{
  width: 15px;
  height: 18px;
  float: left;
  margin-left: 24.5px;
  margin-top: -33px;
}
.titr-home{
  background-color: #201F30;
  border-radius: 8px;
  height: 64px;
}
.titr-home p{
  color: white;
  text-align: right;
  padding-top: 18px;
  font-family: sans;

}
.img-header-home{
  border: 1px solid white;
  margin-left: 24px !important;
  border-radius: 8px;
  float: right;
  width: 50px;
  height: 52px;
  margin: 5px;
}
.title-group{
  text-align: right;
  font-family: sans;
  font-size: 16px;
  margin-top: 24px;
}
.box-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.box-items > .items{
  /* border: 1px solid black; */
  box-shadow: 0 5px 10px #ccc;
  border-radius: 8px;
  padding: 16px;
  display: block;
  width: 100%;
  justify-content: space-between;
}
.itemss{
  display: flex;
  grid-gap: 8px;
  justify-content: space-between;
}
.s{
  margin-top: 16px;
}
.it-r > p{
  font-family: sans;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.it-l > p{
  font-family: sans;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #888888;
}
.itemss > button {
  width: 100%;
  padding: 8px 16px;
  font-family: sans;
  font-size: 14px;
  border: none;
  border-radius: 8px;
}
.delete-s{
  background: #ff0000;
  color: #ffffff;
}
.edit-s{
  background: #2b2b2b;
  color: #ffd901;
}
/* modal edit */
.div-input-lable-home{
  display: none;
  float: right;
}
.form-check-label{
  float: right;
  text-align: right;
  font-family: sans;
  font-size: 16px !important;
  margin: 0 0 8px;
}
.div-input-lable-res-home{
  float: right;
  font-family: sans;
  font-size: 16px;
  margin: 16px 0 8px;
}
.div-check-box-selected{
  width: 100%;
}

.check-box-selected-home{
  display: grid;
}
.box-checked{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}
.selected-home{
  justify-content: end !important;
  align-items: center !important;
}
.form-check-label,
.form-check-input{
  margin: 0 !important;
}
/* modal edit */
.add-user-to-group{
  width: 100%;
  border: 1px solid #2b2b2b;
  background: none;
  margin-top: 8px;
  border-radius: 8px;
  padding: 4px;
  font-family: sans;
  font-size: 14px !important;
}
/* home */


/* user list */
.box-user-list{
  display: flex;
  grid-gap: 8px;
  justify-content: space-between;
}
.btn-plus{
  /* border: 1px solid black; */
  background-color: #FFD600;
  width: 116px;
  height: 48px;
  text-align: center;
  font-family: sans;
  font-size: 14px;
  line-height: 46px;
  border-radius: 8px;
  /* margin-right: 200px !important; */
}
.col-input{
  padding-left: 0 !important;
}
.input-group p{
  text-align: right;
}
.inset-col-p{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-p{
  padding-right: 0 !important;
  width: 100%;
}
.col-p p{
  text-align: right;
  margin-top: 16px;
  font-family: sans;
  font-size: 14px;
}
.div-inset-col-p{
  display: flex;
  grid-gap: 8px;
  justify-content: end;
}
.input{
  width: 200px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  text-align: right;
}
.div-list{
  /* border: 1px solid black; */
  box-shadow: 0 0 8px 0 #dcdcdc;
  border-radius: 8px;
  background-color: white;
}
.container-list{
  display: grid;
  grid-gap: 16px;
  height: max-content;
  overflow-y: scroll;
  border-radius: 8px;
}
.container-list::-webkit-scrollbar{
  display: none;
}
.inset-div-list-input{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.inset-div-list{
  /* border: 1px solid black; */
  display: flex;
  width: max-content !important;
  justify-content: end;
  text-align: right;
  grid-gap: 56px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.inset-div-list p{
  margin:0;
}
.row-list{
  align-items: center;
  display: flex;
  padding: 9px 16px;
  justify-content: space-between;
}
span{
  color: #B0B0B0;
}
.btn-notactive{
  width: 79px !important;
  height: 38px !important;
  margin-left: 37px;
  background-color: #FF0000;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: sans;
  font-size: 14px;
}
.btn-active{
  width: 58px !important;
  height: 38px !important;
  margin-left: 37px;
  margin-top: 4px;
  background-color: #2F9300;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: sans;
  font-size: 14px;
}
.it-inset-div{
  text-align: right;
  width: max-content;
}
.it-inset-div > p{
  margin: 0;
  float: right;
  font-family: sans;
  font-size: 14px;
}
.it-inset-div > span{
  margin-right: 18px;
  font-family: sans;
  font-size: 14px;
}
.col-input-res{
  display: none;
}
.p-res{
  display: none;
}
.inset-div-list-input-res{
  display: none;
}
/* user list */

/* categori */
.title-categori{
  text-align: right;
  font-family: sans;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.btn-add{
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-family: sans;
  font-size: 14px;
  font-weight: 500;
  background-color: #FFD600;
}
.form-twoo{
  margin-top: 24px !important;
}
.form-select{
  background-color: #FFFFFF !important;
  width: 100% !important;
  height: 48px;
  border: 1px solid #201F30 !important;
}
.selected p{
  text-align: right;
  margin-top: -35px;
  font-family: sans;
  font-size: 14px;
  font-weight: 500;
  color: #B0B0B0;
}
select{
  color: #B0B0B0 !important;
}
.btn-dontadd , .btn-addd{
  width: 98px;
  height: 38px;
  margin: 0;
  border: none;
  background-color:#FF0000;
  color: white;
  border-radius: 8px;
  font-family: sans;
  font-size: 14px;
}
.btn-addd{
  width: 98px;
  height: 38px;
  margin-top: 2px;
  border: none;
  background-color:#2F9300;
  color: white;
  border-radius: 8px;
  font-family: sans;
  font-size: 14px;
}
.div-sabt-afzodan{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-div-sabt-afzodan{
  align-items: center;
  display: flex;
}

.check-box-selected{
  /* border: 1px solid black; */
  text-align: right;
  margin: 18px 0;
  display: flex;
  justify-content: end;
  grid-gap: 16px;
  flex-wrap: wrap;
}
.check-box-selected-category{
  display: flex;
  justify-content: end;
  grid-gap: 16px;
  margin: 16px 0;
  flex-wrap: wrap;
}
.input-check-box-selected{
  background-color: #2F9300 !important;
}
.div-check-box-selected{
  display: flex;
  align-items: center;
  grid-gap: 8px;
  justify-content: end;
  width: max-content;
}
.box-selected{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 17px;
  flex-wrap: wrap;
}
.selected{
  display: flex;
  align-items: center;
  grid-gap: 16px;

}
.div-input-select{
  width: 100%;
}
.div-input-lable > label{
  width: max-content;
  font-family: sans;
  font-size: 14px;
  color: #B0B0B0;
}
.div-input-lable-res{
  display: none;
}
.btn-row-list-res{
  display: none;
}
.item-inset-div-list{
  display: flex;
  justify-content: end;
  width: max-content;
  grid-gap: 8px;
}

.btn-row-list{
  display: block;
}
.title-categorii{
  text-align: right;
  font-family: sans;
  font-size: 14px;
  margin: 18px 0 0;
  font-weight: 700;
}
/* categori */


/* support */
.box-message{
  box-shadow: 0px 0px 8px #dddbdb;
  /* border: 1px solid black; */
  margin-top: 24px;
  padding: 18px;
  padding-bottom: 24px;
  height: 87%;
  display: grid;
  border-radius: 8px;
  background-color: #FFFFFF;
}

/* message user */
.box-message-user{
  /* border: 1px solid black; */
  direction: rtl;
}
.user{
  /* border: 1px solid black; */
  width: max-content;
  background-color: #201F30;
  padding: 8px;
  border-radius: 8px;
  max-width: 80%;
}
.titr-chat-user{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  grid-gap: 64px;
}
.titr-chat-user > p{
  margin: 0;
  color: #ffd901;
  font-family: sans;
  font-size: 16px;
}
.user > p{
  color: #ffffff;
  margin: 8px 0 0;
  font-family: sans;
  font-size: 16px;
}
/* message user */

/* message admin */
.box-message-admin{
  /* border: 1px solid black; */
  margin: 8px 0;
}
.admin{
  /* border: 1px solid black; */
  width: max-content;
  direction: rtl;
  background-color: #F1F1F1;
  padding: 8px;
  border-radius: 8px;
  max-width: 80%;
}
.titr-chat-admin{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  grid-gap: 64px;
}
.titr-chat-admin > p{
  margin: 0;
  color: #2b2b2b;
  font-family: sans;
  font-size: 16px;
}
.admin > p{
  color: #2b2b2b;
  margin: 8px 0 0;
  font-family: sans;
  font-size: 16px;
}
/* message admin */


.typing{
  text-align: right;
  font-family: sans;
  font-size: 14px;
}
.inset-box-message{
  /* border: 1px solid black; */
  height: 470px;
  overflow-y: scroll;
}
.box-typing{
  /* border: 1px solid black; */
  display: flex;
  grid-gap: 8px;
}
.typing{
  width: 100%;
  /* border: 1px solid #201F30; */
  border-radius: 8px;
  padding:4px 8px;
  outline: none;
}
.typing::placeholder{
  color: #B0B0B0;
}

.box-btn-sent{
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #201F30;
  border-radius: 8px;
}
.iconright{
  width: 15px;
  height: 15px;
}
/* support */
.open-offcanvas{
  display: none;
}
.trash,
.edit{
  cursor: pointer;
}
.modal-trash-user{
  border: 1px solid black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
}
.inset-modal-trash-user{
  /* border: 1px solid black; */
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow:0 5px 5px #ececec5f !important;
}
.inset-modal-trash-user > p{
  font-family: sans;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.box-teash{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 16px;
}
.box-teash > button{
  padding: 4px 24px ;
  font-family: sans;
  font-size: 16px;
  border-radius: 8px;
}
.btn-modal-trash{
  background: #FF0000;
  color: #ffffff;
  border: none;
}
.btn-modal-back{
  border: 1px solid #2b2b2b;
  background: none;
}
.body-modal{
  width: 100%;
  font-family: sans;
  text-align: center !important;
}
.footer-modal{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
.footer-modal > button{
  font-family: sans;
  font-size: 16px;
}
/*  */

.box-edit-user{
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}
.div-input-edit{
  text-align: right;
  display: grid;
  grid-gap: 8px;
}
.div-input-edit > label{
  font-family: sans;
  font-size: 14px;
}
.titr-modal{
  text-align: center;
  width: 100%;
  font-family: sans !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
.input-edit{
  width: 100%;
  direction: rtl;
  padding: 4px ;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-family: sans;
  font-size: 14px;
  color: #888888;
}
.input-edit-t{
  grid-column: 1 / 3;
}
.footer-modal > Button {
  padding: 8px;
  border: none;
}
.btn-modal-save-edit{
  background: #FFD600 !important;
  color: #2b2b2b !important;
}
.btn-modal-cancell-edit{
  background: #2b2b2b !important;
  color: #ffffff !important;
}

/*  */

.login{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inset-login{
  /* border: 1px solid black; */
  display: block;
  text-align: center;
  width: 400px;
  margin: 0 16px;
  padding: 16px;
  border-radius: 8px;
  background: #f4f4f4;
  box-shadow: 0 0 4px 4px #f5f4f9;
  -webkit-box-shadow: 0 15px 20px #bbbbbba5;
  -moz-box-shadow: 0 15px 20px #bbbbbba5;
  box-shadow: 0 15px 20px #bbbbbba5;
}
.inset-login > img{
  width: 80px;
  margin: auto;
}
.inset-login > p{
  font-family: sans;
  font-size: 16px;
  text-align: center;
  margin: 16px 0 ;
  font-weight: bold;
}
.inset-login > label{
  text-align: right !important;
  display: flex;
  justify-content: end;
  margin: 8px 0;
  font-family: sans;
  font-size: 14px;
}
.input-login{
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 4px 8px;
  background: #f4f4f4;
  outline: none;
  direction: rtl;
}
.btn-login{
  width: 100%;
  margin: 16px 0 0;
  padding: 8px;
  border: none;
  color: #2b2b2b;
  background: #ffd901;
  font-family: sans;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}
/*  */

/* addUser */
.box-add-user{
  margin: 16px 0;
}
#dropdown-custom-components{
  text-decoration: none !important;
  font-family: sans;
  font-size: 14px;
  padding: 8px 16px;
  background: #ffd901;
  color: #2b2b2b;
  border: none;
}
.list-users{
  text-align: right;
  font-family: sans;
  font-size: 14px;
  font-weight: bold;
}
.box-user-list-home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-phone{
  font-family: sans !important;
  font-size: 15px !important;
}
/* addUser */




@media screen and (max-width: 1200px) {
  .col-xl-10 {
    flex: none;
  }
  .content-right{
    display: none;
  }
  .content-left{
    margin: 10px 16px;
  }

}
@media screen and (max-width: 1020px) {
  .main{
    margin: 16px 0 0;
  }
  body{
    direction: rtl;
  }
  .col-input{
    display: none;
  }
  .btn-plus{
    width: 100%;
  }
  .col-input-res{
    margin-top: 16px;
  }
  .input{
    width: 100%;
  }
  .div-inset-col-p{
    display: block;
  }
  .box-user-list{
    display: block;
  }
  .p{
    display: none;
  }
  .inset-col-p{
    grid-gap: 16px;
  }
  .col-input-res{
    display: block;
  }
  /*  */
  .p-res{
    display: block;
  }
  .btn-row-list{
    display: none;
  }
  .btn-row-list-res{
    display: block !important;
  }
  .inset-div-list {
    /* border: 1px solid black; */
    display: grid;
    text-align: right;
    grid-gap: 18px;
    grid-template-columns: 1fr;
    width: 100% !important;
  }
  .item-inset-div-list{
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .item-inset-div-list > p{
    text-decoration: none !important;
    text-decoration-skip-ink: none !important;
  }
  .btn-dontadd , .btn-addd{
    width: 100% ;
  }
  .inset-box-message{
    height: 100%;
  }
  .box-typing{
    margin-top: 18px;
  }
  .typing{
    padding: 10px 8px;
  }
  .box-message{
    box-shadow: 0px 0px 8px #dddbdb;
    /* border: 1px solid black; */
    margin-top: 24px;
    padding: 18px;
    padding-bottom: 24px;
    height: 1040px;
  }
  .open-offcanvas{
    display: block;
    color: #ccc;
    background: none;
    border: none;
    font-size: 24px;
  }
  .img-header-home{
    display: none;
  }
  .titr-home{
    display: flex;
    direction: rtl;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
  }
  .alert-logo{
    width: 15px;
    height: 18px;
    float: left;
    margin-left: 0;
    margin-top: 0;
  }
  .header-r{
    display: flex;
    grid-gap: 8px;
    align-items: center;
  }
  .header-r > p{
    margin: 0;
    padding: 0;
  }
  .offcanvas-title{
    font-family: sans;
    font-size: 14px !important;
  }
  .offcanvas-content{
    direction: rtl;
  }
  .offcanvas-content > ul{
    text-align: right;
    display: grid;
    grid-gap: 18px;
    margin: 0;
    padding: 0;
  }
  .offcanvas-content > ul > li{
    font-family: sans;
    font-size: 18px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .offcanvas-content > ul > li > p{
    margin: 0;
  }
  .offcanvas-content > ul > li > span{
    font-size: 32px;
  }
  .link-to{
    color: #201F30;
    text-decoration: none;
  }
  /*  */
  .box-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .inset-col-p{
    grid-gap: 16px;
    grid-template-columns: 1fr;
  }
  .inset-div-list{
    grid-template-columns: 1fr;
  }
  .row-list{
    display: block;
  }
  .inset-div-list-input{
    display: none;
  }
  .it-inset-div {
    text-align: right;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .it-inset-div > span{
    margin: 0;
  }
  .inset-div-list-input-res{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    margin-top: 18px;
    width: 100%;
    display: block;
    align-items: center;
  }
  .btn-notactive-res{
    background-color: #FF0000;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: sans;
    font-size: 14px;
    height: 38px ;
    width: 100%;
  }
  .container-list{
    height: max-content;
  }
  .btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .p-res{
    margin: 0 0 8px !important;
  }
  .col-input-res {
    margin: 24px 0 !important;
  }
  .title-group {
    text-align: right;
    font-family: sans;
    font-size: 16px;
    margin: 24px 0 8px;
  }
  .row-list{
    padding: 16px;
  }
  .trash{
    margin: 0 !important;
  }
  .box-selected{
    display: grid;
    grid-template-columns: 1fr;
  }
  .selected{
    display: block;
  }
  .div-input-lable-res{
    display: block;
    text-align: right;
    font-family: sans;
    font-size: 14px;
    color: #B0B0B0;
    margin-bottom: 8px;
  }
  .div-input-lable{
    display: none;
  }
  .btn-row-list{
    display: none;
  }
  .btn-row-list-res{
    display: block;
  }
  .message-user, .message-admin{
    width: 90%;
  }
  .box-message{
    box-shadow: 0px 0px 8px #dddbdb;
    /* border: 1px solid black; */
    margin: 24px 0 0;
    padding: 18px;
    padding-bottom: 24px;
    height: 100%;
  }
  .inset-box-message{
    height: 100%;
  }
  .trash{
    text-align: left;
  }
  .modal-edit-home{
    direction: ltr;
  }
  .check-box-selected-category,
  .div-sabt-afzodan{
    direction: ltr;
  }
}
@media screen and (max-width: 880px) {
  .row-list{
    display: block;
  }
}
@media screen and (max-width: 780px) {
  
}
@media screen and (max-width: 580px) {
  .box-items{
    display: grid;
    grid-template-columns: 1fr;
  }
  .box-edit-user{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
  }
  .input-edit-t{
    grid-column: 1 ;
  }
}
@media screen and (max-width: 480px) {
  .btn-add{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    color: #2b2b2b;
  }
  .body-categiry{
    margin-bottom: 42px;
  }
  .item-inset-div-list > p{
    pointer-events: none;
  }
  .box-message{
  
    height: 760px !important;
  }
  .inset-box-message{
    height: 100% !important;
  }
  .box-checked{
    grid-template-columns: 1fr 1fr;
  }
}
